<div id="footer" class=" ppb_wrapper">
    <ul class="sidebar_widget three">
        <li id="text-2" class="widget widget_text">
            <h2 class="widgettitle">Mission</h2>
            <div class="textwidget">
                <p>Our vision is not only being your short-term guide but standing strong through your long-term
                    voyages. We yearn to hear your travel anecdotes and will do anything to make them happen.
                    <br />
                </p>
            </div>
        </li>
        <li id="text-4" class="widget widget_text">
            <h2 class="widgettitle">Contact Info</h2>
            <div class="textwidget">
                <p><span class="ti-mobile" style="margin-right:10px;"></span><a href="tel:8451817189">8451817189</a>, <a
                        href="tel:8881618111">8881618111</a></p>
                <p><span class="ti-email" style="margin-right:10px;"></span><a
                        href="mailto:shipra@yourtravelstories.in">shipra@yourtravelstories.in</a>,
                    <a href="mailto:info@yourtravelstories.in">info@yourtravelstories.in</a>,
                    <a href="mailto:enquirytotravelstories@gmail.com">enquirytotravelstories@gmail.com</a>
                </p>
                <p><span class="ti-location-pin" style="margin-right:10px;"></span>Santacruz, Mumbai</p>
                <p><span class="ti-alarm-clock" style="margin-right:10px;"></span>Mon - Sat 8.00 - 18.00 Sunday
                    CLOSED</p>
                <div style="margin-top:20px;">
                    <div class="social_wrapper shortcode dark ">
                        <ul>
                            <li class="facebook"><a target="_blank" title="Facebook"
                                    href=" https://www.facebook.com/yourtravelstories.in"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a target="_blank" title="Twitter"
                                    href="https://twitter.com/travelstoriesur"><i class="fa fa-twitter"></i></a></li>
                            <!-- <li class="youtube"><a target="_blank" title="Youtube" href="#"><i
                                        class="fa fa-youtube"></i></a></li> -->
                            <li class="facebook"><a target="_blank" title="Pinterest"
                                    href="https://www.linkedin.com/company/yourtravelstories/about/?viewAsMember=true"><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li class="instagram"><a target="_blank" title="Instagram"
                                    href="https://www.instagram.com/yourtravelstories.in/"><i
                                        class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li id="grandtour_flickr-7" class="widget Grandtour_Flickr">
            <h2 class="widgettitle">Popular Destinations</h2>
            <ul class="flickr">
                <li>
                    <img src="https://i1.wp.com/onedayitinerary.com/wp-content/uploads/2019/01/One-day-in-Goa-Itinerary.jpg?resize=723%2C542"
                        alt="Buddha Sunrise in Borobudur, Magelang, Central Java, Indonesia" width="75" height="75" />
                </li>
                <li>
                    <img src="https://image.slidesharecdn.com/rajasthans-110729111900-phpapp01/95/rajasthan-1-728.jpg?cb=1311940297"
                        alt="Gentoo Penguins, Falkland Islands (Islas Malvinas), British Overseas Territory" width="75"
                        height="75" />
                </li>
                <li>
                    <img src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2017/07/02/620396.jpg?itok=D434AM7M"
                        alt="Aerial View of Singapore CBD Skyline, Marina Bay Esplanade and Raffles Place, Singapore"
                        width="75" height="75" />
                </li>
                <li>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5wrsMQoqpL8ROhdJ_fmW_c14e9rVdDsxxU-LpmAS9rAXPukV8L-ZLOHP0jvKH2t_j-3g&usqp=CAU"
                        alt="View Of Sugarloaf Mountain, Botafogo And The City of Rio De Janeiro, Brazil, South America"
                        width="75" height="75" />
                </li>
                <li>
                    <img src="https://ak.picdn.net/shutterstock/videos/5778422/thumb/10.jpg"
                        alt="Sacre Coeur (Basilica of the Sacred Heart of Paris), Paris, France :: HDR" width="75"
                        height="75" />
                </li>
                <li>
                    <img src="https://thumbs.dreamstime.com/b/bali-word-written-sandy-beach-60987937.jpg"
                        alt="The Great Gate (Darwaza-i rauza) of Taj Mahal, Agra, Uttar Pradesh, India :: HDR"
                        width="75" height="75" />
                </li>
            </ul>
            <br class="clear" />
        </li>
    </ul>
</div>

<div class="footer_bar  ppb_wrapper ">

    <div class="footer_bar_wrapper ">
        <div class="menu-footer-menu-container">
            <ul id="footer_menu" class="footer_nav">
                <li class="menu-item current-menu-item"><a [routerLink]="['/']">Home</a></li>
                <li class="menu-item"><a [routerLink]="['/about']">About Us</a></li>
                <li class="menu-item"><a [routerLink]="['/videotour']">Video Tour</a></li>
            </ul>
        </div>
        <div id="copyright">© Copyright Your Travel Stories</div>
        <br class="clear" />
        <a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
    </div>
</div>