<div id="wrapper" class="hasbg transparent">

    <div id="page_caption" class="hasbg parallax    " style="background-image:url(https://cdn.shopify.com/s/files/1/0052/7043/7978/t/4/assets/contact_us_banner_long2.jpg?14881);">

        <div class="page_title_wrapper">
            <div class="page_title_inner">
                <div class="page_title_content">
                    <h1>Contact Us</h1>
                    <div class="page_tagline">
                        <!-- This is sample of page tagline and you can set it up using page option  -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="ppb_wrapper hasbg ">
        <div class="one withsmallpadding ppb_text" style="text-align:center;padding:0px 0 0px 0;margin-top:20px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:80%">
                            <h4 class="p1"><span class="s1"><b>Just over a month into my trip and I wonder how I’ve changed, if at all. Certainly the experiences I’ve had and things I’ve seen have shaped me in someway. </b></span></h4>
                            <div style="margin-top: 30px;">
                                <div class="social_wrapper shortcode dark ">
                                    <ul>
                                        <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a target="_blank" title="Twitter" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                                        <li class="pinterest"><a target="_blank" title="Pinterest" href="https://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/theplanetd"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_text" style="text-align:left;padding:0px 0 0px 0;margin-bottom:60px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:60%">
                            <div role="form" class="wpcf7" id="wpcf7-f3075-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="3075" />
                                        <input type="hidden" name="_wpcf7_version" value="5.0.4" />
                                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3075-o1" />
                                        <input type="hidden" name="_wpcf7_container_post" value="0" />
                                    </div>
                                    <p>
                                        <label> Full Name
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="John Doe" /></span> </label>
                                    </p>
                                    <p>
                                        <label> Email Address
                                            <br />
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="sample@yourcompany.com" /></span> </label>
                                    </p>
                                    <p>
                                        <label> Phone Number
                                            <br />
                                            <span class="wpcf7-form-control-wrap tel-729"><input type="tel" name="tel-729" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span> </label>
                                    </p>
                                    <p>
                                        <label> Interested In
                                            <br />
                                            <span class="wpcf7-form-control-wrap menu-607"><select name="menu-607" class="wpcf7-form-control wpcf7-select" id="interest-trip" aria-invalid="false"><option value="Asia Trip">Asia Trip</option><option value="Europe Trip">Europe Trip</option><option value="North America Trip">North America Trip</option><option value="South America Trip">South America Trip</option><option value="Australia Trip">Australia Trip</option></select></span> </label>
                                    </p>
                                    <p>
                                        <label> Number of Person
                                            <br />
                                            <span class="wpcf7-form-control-wrap text-237"><input type="text" name="text-237" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="1 person" /></span> </label>
                                    </p>
                                    <p>
                                        <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit" />
                                    </p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one_half_bg last withsmallpadding ppb_text_image withbg parallax " style="width:100%;font-size:18px;background-image:url(https://lp-cms-production.imgix.net/image_browser/Mumbai_nightlife_S.jpg);background-position: center center;text-align:center;padding:100px 0 100px 0;color:#ffffff !important;">
            <div class="overlay_background" style="background:#000000;background:rgb(0,0,0,0.3);background:rgba(0,0,0,0.3);"></div>
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                      
                        <h2 style="color: #fff;">Mumbai</h2>
                        <p>Santacruz
                            <br /> 400 022 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>