<div id="wrapper" class="hasbg transparent">
    <div class="ppb_wrapper  ">
        <div class="one withsmallpadding ppb_header_youtube withbg parallax" data-jarallax-video="https://www.youtube.com/watch?v=JPe2mwq96cw" style="text-align:center;padding:240px 0 240px 0;color:#ffffff;">
            <div class="overlay_background" style="background:#000000;background:rgb(0,0,0,0.3);background:rgba(0,0,0,0.3);"></div>
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <h2 class="ppb_title" style="color:#ffffff;">We are Grand Tour World Class Travel Agency</h2>
                            <div class="page_tagline" style="color:#ffffff;">Trips, experiences, and places. All in one service.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_header " style="text-align:center;padding:50px 0 50px 0;background-color:#000000;color:#ffffff;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner" style="text-align: initial;">
                        <div class="one_half_bg floatleft">
                            <h2 class="ppb_title" style="color:#ffffff;">An aphorism that stems from the heart of Shipra Jaiswal, founder, and director of
                                Your Travel Stories.</h2>
                            <div class="ppb_header_content">
                                <p>She aims to make travel an attainable goal for everyone who dreams to experience the world.</p>
                                <p>Incorporated in May 2020, Your Travel Stories is a travel and experience consultant based out of Mumbai. We drive the success of various journeys - leisure, luxury, entertainment, offsites, corporate meetings, etc. Being empowered with industry-leading supply and destination partners, we present the choicest programs and deals you can benefit from.</p>
                                <p>Our commitment to creating Your Travel Stories makes us weather any storm that comes our way. A recent one being that of COVID-19. Though the pandemic has stalled some travel plans, we stand tall and undaunted. This confidence is derived from our real-time research and negotiations that help us deploy the most certain offers.</p>
                                <p>Our vision is not only being your short-term guide but standing strong through your long-term voyages. We yearn to hear your travel anecdotes and will do anything to make them happen.</p>
                                <p>&nbsp;</p>
                                <div class="one_half " style="">
                                    <div class="animate_counter_wrapper">
                                        <div id="15688228651662815306" class="odometer" style="font-size:60px;line-height:60px;">0</div>
                                        <div class="count_separator"><span></span></div>
                                        <div class="counter_subject">Trips</div>
                                    </div>
                                </div>
                                <div class="one_half last " style="">
                                    <div class="animate_counter_wrapper">
                                        <div id="1568822865443200426" class="odometer" style="font-size:60px;line-height:60px;">0</div>
                                        <div class="count_separator"><span></span></div>
                                        <div class="counter_subject">Happy Customers</div>
                                    </div>
                                </div>
                                <p>
                                    <br class="clear" />
                                </p>
                            </div>
                        </div>
                        <div class="one_half_bg floatright">
                            <img
                            class="team_pic about_img"
                            src="../../../assets/upload/IMG-20190314-WA0027.jpg"
                            alt=""
                          />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_contact_half_bg withbg parallax " style="background-image:url(https://c4.wallpaperflare.com/wallpaper/765/992/4/road-in-black-and-white-wallpaper-thumb.jpg);background-position: center center;padding:40px 0 40px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="one_half_bg floatright" style="background:transparent" data-stellar-ratio="1.3">
                            <h2 class="ppb_title" style="color:white">
                                Our Values
                              </h2>
                              <div class="page_tagline" style="color: white; margin-left: 0">
                                <b>Customers-First: Customers are at the heart of our business. To be an integral part of your travel experiences, we deliver exceptional products, ideas, and services that are a promise of a memorable time.</b>
                              </div>
                              <div class="page_tagline" style="color: white;margin-left: 0">
                                <b>All-Inclusive:Travel is for one and all. Hence, with no bias, we aim to fulfill the dreams of every dreamer. For individuals deemed to be from the backward sections of society to a thriving entrepreneur, we have the best deals for all. Further, all the travel solutions are provided under one roof.</b>
                              </div>
                              <div class="page_tagline" style="color: white;margin-left: 0">
                                <b>Value for Money: An essential commodity we all need for survival, money plays a crucial role in travel. Many cut back on travel because of a shortage of resources. That is where Your Travel Stories comes in. We aim to make travel attainable for one and all and do so by promoting budgeted travels. Every service is valued because we value you and money.</b>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:60px;margin-bottom:20px;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <h2 class="ppb_title" style="">Meet Our Team</h2>
                        <div class="page_tagline" style="">Trips, experiences, and places. All in one service.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one withsmallpadding ppb_team_column">
        <div class="page_content_wrapper page_main_content sidebar_content full_width fixed_column photoframe">
            <div class="standard_wrapper">
                <div id="1568822865341040745" class="portfolio_filter_wrapper gallery five_cols" data-columns="5">
                   
                    <div class="element grid photoframe fixed_columns classic5_cols animated3">
                        <div class="one_fifth gallery5 classic filterable one_fifth">
                            <div class="post_img"><img class="team_pic" src="./assets/upload/IMG20180527072053.jpg" alt="" />
                                <ul class="social_wrapper team">
                                    <li><a title="Christina Hardy on Twitter" target="_blank" class="tooltip" href="https://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a title="Christina Hardy on Facebook" target="_blank" class="tooltip" href="https://facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a title="Christina Hardy on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a title="Christina Hardy on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="portfolio_info_wrapper center">
                                <h4>Shipra Jaiswal</h4>
                                <div class="page_tagline">Founder</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
