<div class="ppb_wrapper  ">
        <div class="one withsmallpadding ppb_tour_search_youtube parallax withbg "
            data-jarallax-video="https://www.youtube.com/watch?v=JPe2mwq96cw"
            style="text-align:center;height:800px;color:#ffffff;">
            <div class="overlay_background"
                style="background:#000000;background:rgb(0,0,0,0.3);background:rgba(0,0,0,0.3);"></div>
            <div class="center_wrapper">
                <div class="inner_content">
                    <div class="standard_wrapper">
                        <h2 class="ppb_title" style="color:#ffffff;">Where do you want to go?</h2>
                        <div class="page_tagline" style="color:#ffffff;">Trips, experiences, and places. All in one
                            service.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:70px;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <h2 class="ppb_title" style="">Tour Packages</h2>
                        <div class="page_tagline" style="">India&#039;s best tourist destinations</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ppb_destination_grid one nopadding " style="margin-top:50px;margin-bottom:10px;">
        <div class="page_content_wrapper page_main_content sidebar_content full_width fixed_column">
            <div class="standard_wrapper">
                <div id="1568019739508161166" class="portfolio_filter_wrapper gallery grid portrait four_cols"
                    data-columns="4">
                    <div class="element grid baseline classic4_cols animated1">
                        <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder"
                            style="background-image:url(./assets/upload/Rajasthan.jpg);">
                            <a class="tour_image" href="#"></a>
                            <div class="portfolio_info_wrapper">
                                <div class="portfolio_info_content">
                                    <h3>North</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element grid baseline classic4_cols animated2">
                        <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder"
                            style="background-image:url(./assets/upload/Uttarakhand.jpg);">
                            <a class="tour_image" href="#"></a>
                            <div class="portfolio_info_wrapper">
                                <div class="portfolio_info_content">
                                    <h3>East</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element grid baseline classic4_cols animated3">
                        <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder"
                            style="background-image:url(./assets/upload/Tamilnadu.jpg);">
                            <a class="tour_image" href="#"></a>
                            <div class="portfolio_info_wrapper">
                                <div class="portfolio_info_content">
                                    <h3>West</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element grid baseline classic4_cols animated4">
                        <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder"
                            style="background-image:url(./assets/upload/Goa.jpg);">
                            <a class="tour_image" href="#"></a>
                            <div class="portfolio_info_wrapper">
                                <div class="portfolio_info_content">
                                    <h3>South</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="element grid baseline classic4_cols animated4">
                        <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder"
                            style="background-image:url(./assets/upload/Goa.jpg);">
                            <a class="tour_image" href="#"></a>
                            <div class="portfolio_info_wrapper">
                                <div class="portfolio_info_content">
                                    <h3>Union Teretory</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-bottom:40px;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <h2 class="ppb_title" style="">Why Choose Us</h2>
                        <div class="page_tagline" style="">Here are reasons you should plan trip with us</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text"
            style="text-align:center;padding:0px 0 0px 0;margin-bottom:70px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <p><img class="alignnone wp-image-3106 size-medium" src="./assets/upload/Map-Marker-300x300.png"
                                    width="150" height="150" alt="" /></p>
                            <h4 class="p1"><span class="s1"><b>Handpicked Hotels</b></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text"
            style="text-align:center;padding:0px 0 0px 0;margin-bottom:70px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <p><img class="alignnone wp-image-3107 size-medium"
                                    src="./assets/upload/Worldwide-Location-300x300.png" width="150" height="150" alt="" />
                            </p>
                            <h4 class="p1"><span class="s1"><b>Best Rate for Flights</b></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third last withsmallpadding ppb_text"
            style="text-align:center;padding:0px 0 0px 0;margin-bottom:70px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <p><img class="alignnone wp-image-3108 size-medium" src="./assets/upload/Hot-Air-Balloon-300x300.png"
                                    width="140" height="140" alt="" /></p>
                            <h4 class="p1"><span class="s1"><b>Rent your Car</b></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text"
            style="text-align:center;padding:0px 0 0px 0;margin-bottom:70px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <p><img class="alignnone wp-image-3106 size-medium" src="./assets/upload/Map-Marker-300x300.png"
                                    width="150" height="150" alt="" /></p>
                            <h4 class="p1"><span class="s1"><b>Cruises</b></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text"
            style="text-align:center;padding:0px 0 0px 0;margin-bottom:70px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <p><img class="alignnone wp-image-3107 size-medium"
                                    src="./assets/upload/Worldwide-Location-300x300.png" width="150" height="150" alt="" />
                            </p>
                            <h4 class="p1"><span class="s1"><b>Destination Weddings</b></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third last withsmallpadding ppb_text"
            style="text-align:center;padding:0px 0 0px 0;margin-bottom:70px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <p><img class="alignnone wp-image-3108 size-medium" src="./assets/upload/Hot-Air-Balloon-300x300.png"
                                    width="140" height="140" alt="" /></p>
                            <h4 class="p1"><span class="s1"><b>Adventure Seeking</b></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax " style="background-image: url(./assets/upload/shipra_jaiswal.jpg);height:60vh; "></div>
    <div class="one withsmallpadding ppb_header "
        style="text-align:center;padding:0px 0 0px 0;margin-top:70px;margin-bottom:50px;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <h2 class="ppb_title" style="">Articles &amp; Tips</h2>
                        <div class="page_tagline" style="">Explore some of the best tips from around the world</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="ppb_blog_grid one nopadding" style="padding:0px 0 0px 0;margin-bottom:50px;">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div class="inner_wrapper">
                        <div class="blog_grid_wrapper sidebar_content full_width ppb_blog_posts">
                            <div id="post-81" class="post type-post hentry status-publish ">
                                <div class="post_wrapper grid_layout">
                                    <div class="post_img small static">
                                        <a href="#">
                                            <img src="./assets/upload/photo-1469920783271-4ee08a94d42d-960x636.jpg"
                                                alt="Memorial Day to Someone Told Me to Travel" class="" />
                                        </a>
                                    </div>
                                    <div class="post_header_wrapper">
                                        <div class="post_header grid">
                                            <div class="post_detail single_post">
                                                <span class="post_info_date">
                                                    <a href="#"
                                                        title="Memorial Day to Someone Told Me to Travel">December
                                                        10, 2016</a>
                                                </span>
                                            </div>
                                            <h6><a href="#" title="Memorial Day to Someone Told Me to Travel">Memorial
                                                    Day
                                                    to Someone Told Me to Travel</a></h6>
                                        </div>
                                        <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic
                                            fingerstache...
                                        <div class="post_button_wrapper">
                                            <a class="readmore" href="#">Read More<span
                                                    class="ti-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="post-76" class="post type-post hentry status-publish ">
                                <div class="post_wrapper grid_layout">
                                    <div class="post_img small static">
                                        <a href="#">
                                            <img src="./assets/upload/pexels-photo-212388-960x636.jpeg"
                                                alt="7 Tips For Nomads On A Budget Trips" class="" />
                                        </a>
                                    </div>
                                    <div class="post_header_wrapper">
                                        <div class="post_header grid">
                                            <div class="post_detail single_post">
                                                <span class="post_info_date">
                                                    <a href="#" title="7 Tips For Nomads On A Budget Trips">December
                                                        10, 2016</a>
                                                </span>
                                            </div>
                                            <h6><a href="#" title="7 Tips For Nomads On A Budget Trips">7 Tips For
                                                    Nomads On A Budget Trips</a></h6>
                                        </div>
                                        <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic
                                            fingerstache...
                                        <div class="post_button_wrapper">
                                            <a class="readmore" href="#">Read More<span
                                                    class="ti-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="post-72" class="post type-post hentry status-publish last">
                                <div class="post_wrapper grid_layout">
                                    <div class="post_img small static">
                                        <a href="#">
                                            <img src="./assets/upload/pexels-photo-24484-960x636.jpg"
                                                alt="Taking A Travel Blog Victory Lap" class="" />
                                        </a>
                                    </div>
                                    <div class="post_header_wrapper">
                                        <div class="post_header grid">
                                            <div class="post_detail single_post">
                                                <span class="post_info_date">
                                                    <a href="#" title="Taking A Travel Blog Victory Lap">December
                                                        10, 2016</a>
                                                </span>
                                            </div>
                                            <h6><a href="#" title="Taking A Travel Blog Victory Lap">Taking A Travel
                                                    Blog Victory Lap</a></h6>
                                        </div>
                                        <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic
                                            fingerstache...
                                        <div class="post_button_wrapper">
                                            <a class="readmore" href="#">Read More<span
                                                    class="ti-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>