<div role="form" class="wpcf7" id="wpcf7-f3075-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response"></div>
    <form [formGroup]="form" class="wpcf7-form">
        <p>
            <label> First Name
                <br />
                <span class="wpcf7-form-control-wrap your-name"><input formControlName="firstName"
                        type="text" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                        aria-required="true" aria-invalid="false"
                        placeholder="First Name" /></span> </label>
        </p>
        <p>
            <label> Last Name
                <br />
                <span class="wpcf7-form-control-wrap your-name"><input
                        type="text" size="40" formControlName="lastName"
                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                        aria-required="true" aria-invalid="false"
                        placeholder="Last Name" /></span> </label>
        </p>
        <p>
            <label> Email Address
                <br />
                <span class="wpcf7-form-control-wrap your-email"><input
                        type="email" size="40" formControlName="email"
                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                        aria-required="true" aria-invalid="false"
                        placeholder="sample@yourcompany.com" /></span> </label>
        </p>
        <p>
            <label> Phone Number
                <br />
                <span class="wpcf7-form-control-wrap tel-729"><input type="tel" formControlName="mobileNumber"
                        name="tel-729" size="40"
                        class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                        aria-required="true" aria-invalid="false" /></span>
            </label>
        </p>
        <p>
            <label> Interested In
                <br />
                <span class="wpcf7-form-control-wrap menu-607">
                    <select multiple formControlName="interestedIn"
                        name="menu-607" class="wpcf7-form-control wpcf7-select"
                        id="interest-trip" aria-invalid="false">
                        <option *ngFor="let item of interestedArray" [value]="item.name">{{item.name}}</option>
                    </select></span> </label>
        </p>
        <p>
            <label> Number of Person
                <br />
                <span class="wpcf7-form-control-wrap text-237"><input formControlName="numberOfPersons"
                        type="number" name="text-237" size="40"
                        class="wpcf7-form-control wpcf7-text"
                        aria-invalid="false" placeholder="1 person" /></span>
            </label>
        </p>
        <p>
            <input type="submit" value="Send Enquiry"
                class="wpcf7-form-control wpcf7-submit" (click)="save()" />
        </p>
        <div class="wpcf7-response-output wpcf7-display-none"></div>
    </form>
</div>