<div id="page_caption" class="hasbg parallax blog_wrapper background-tint"
[ngStyle]="{'background-image': 'url(' + currentLocation?.banner + ')'}">

    <div class="page_title_wrapper">
        <div class="page_title_inner">
            <div class="page_title_content">
                <h1>{{currentLocation?.name}}</h1>
                <div class="page_tagline">
                     </div>
            </div>
        </div>
    </div>

</div>

<!-- Begin content -->
<div id="page_content_wrapper" class="hasbg blog_wrapper">
    <div class="inner">

        <!-- Begin main content -->
        <div class="inner_wrapper">

            <div class="page_content_wrapper"></div>

            <div class="sidebar_content ">

                <div class="videoFrame">
                    <iframe width="100%" height="100%" [src]="'https://www.youtube.com/embed/'+selectedVideo | safe"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <h2 className="video__title">{{currentLocation.name}}</h2>
                <h4>{{currentLocation.tagLine}}</h4>
                <p>{{currentLocation.Information}}</p>
                <div *ngIf="currentLocation.bestPlaces.length > 0">
                    <h2>Places to visit in {{currentLocation.name}}</h2>
                    <div class="standard_wrapper">
                        <div id="portfolio_filter_wrapper" class="gallery classic three_cols portfolio-content section content clearfix" data-columns="3">
                            <div class="element grid classic2_cols animated2" *ngFor="let place of currentLocation.bestPlaces">
                                <div class="one_half gallery2 classic static filterable portfolio_type themeborder" data-id="post-2">
                                    <a class="tour_image" href="#">
                                        <img [src]="place.image" alt="French Autumn">
                                        <div class="tour_price ">
                                            {{place.name}}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br class="clear">
                    </div>
                </div>
                

            </div>

            <div class="sidebar_wrapper ">

                <div class="sidebar_top"></div>

                <div class="sidebar">

                    <div class="content">

                        <ul class="sidebar_widget">
                            <li id="grandtour_tour_posts-4" class="widget Grandtour_Tour_Posts">
                                <h2 class="widgettitle"></h2>
                                <div class="one gallery1 grid static filterable portfolio_type themeborder"
                                    [ngStyle]="{'background-image': 'url(' + item.thumbnail + ')'}"
                                    *ngFor="let item of videoList">
                                    <a class="tour_image" (click)="selectVideo(item.id)" href="javascript:void(0)"></a>
                                    <div class="portfolio_info_wrapper">
                                        <h5>{{item.name}}</h5>
                                        <div class="tour_attribute_wrapper">
                                        </div>
                                    </div>
                                </div>
                                <br class="clear" />
                            </li>
                        </ul>

                    </div>

                </div>
                <br class="clear" />

                <div class="sidebar_bottom"></div>
            </div>

        </div>
        <!-- End main content -->

    </div>
</div>