<div id="page_caption" class="hasbg parallax    blog_wrapper" style="background-image:url(./assets/upload/pexels-photo-24377.jpg);">

    <div class="page_title_wrapper">
        <div class="page_title_inner">
            <div class="page_title_content">
                <h1>Blog Full + Grid Left Sidebar</h1>
                <div class="page_tagline">
                    This is sample of page tagline and you can set it up using page option </div>
            </div>
        </div>
    </div>

</div>

<!-- Begin content -->
<div id="page_content_wrapper" class="hasbg blog_wrapper">
    <div class="inner">

        <!-- Begin main content -->
        <div class="inner_wrapper">

            <div class="page_content_wrapper"></div>

            <div class="sidebar_content ">
            
                <div class="videoFrame">
                    <!-- <iframe width="100%" height="100%" src="https://youtu.be/5LxsViMm25o"
                        frameBorder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowFullScreen></iframe> -->
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5LxsViMm25o" 
                        title="YouTube video player" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen></iframe>
                </div>
                <h2 className="video__title">Title</h2>

            </div>

            <div class="sidebar_wrapper ">

                <div class="sidebar_top"></div>

                <div class="sidebar">

                    <div class="content">

                        <ul class="sidebar_widget">
                            <li id="grandtour_tour_posts-4" class="widget Grandtour_Tour_Posts">
                                <h2 class="widgettitle"></h2>
                                <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(./assets/upload/pexels-photo-225630-700x466.jpeg);">
                                    <a class="tour_image" href="#"></a>
                                    <div class="portfolio_info_wrapper">
                                        <div class="tour_price has_discount">
                                            <span class="normal_price">
                                $4,900                                  </span> $4,200 </div>
                                        <h5>5 Lake of Fuji San</h5>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br class="clear" />
                                <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(./assets/upload/pexels-photo-197657-700x466.jpeg);">
                                    <a class="tour_image" href="#"></a>
                                    <div class="portfolio_info_wrapper">
                                        <div class="tour_price ">
                                            $6,000 </div>
                                        <h5>Grand Switzerland</h5>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br class="clear" />
                                <div class="one gallery1 grid static filterable portfolio_type themeborder" style="background-image:url(./assets/upload/pexels-photo-197657-700x466.jpeg);">
                                    <a class="tour_image" href="#"></a>
                                    <div class="portfolio_info_wrapper">
                                        <div class="tour_price ">
                                            $6,000 </div>
                                        <h5>Grand Switzerland</h5>
                                        <div class="tour_attribute_wrapper">
                                            <div class="tour_attribute_rating">
                                                <div class="br-theme-fontawesome-stars-o">
                                                    <div class="br-widget">
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;" class="br-selected"></a>
                                                        <a href="javascript:;"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br class="clear" />
                            </li>
                        </ul>

                    </div>

                </div>
                <br class="clear" />

                <div class="sidebar_bottom"></div>
            </div>

        </div>
        <!-- End main content -->

    </div>
</div>